In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv("../data/finbhv/churn_data.csv")

In [3]:
descriptions = pd.read_csv("../data/finbhv/Churn Data Description.txt", sep='-')

In [4]:
data.head(5)

,user,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,cc_disliked,cc_liked,cc_application_begin,app_downloaded,web_user,app_web_user,ios_user,android_user,registered_phones,payment_type,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,rewards_earned,reward_rate,is_referred
0,55409,0,37.0,na,NaN,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,Bi-Weekly,0,0,0,0,Leo,1,0,NaN,0.00,0
1,23547,0,28.0,R,486.0,0,0,1,0,0,96,0,0,5,1,1,1,1,0,0,Weekly,0,0,0,0,Leo,0,0,44.0,1.47,1
2,58313,0,35.0,R,561.0,47,2,86,47,0,285,0,0,9,1,0,0,0,1,2,Semi-Monthly,0,0,0,0,Capricorn,1,0,65.0,2.17,0
3,8095,0,26.0,R,567.0,26,3,38,25,0,74,0,0,26,1,0,0,0,1,0,Bi-Weekly,0,0,0,0,Capricorn,0,0,33.0,1.10,1
4,61353,1,27.0,na,NaN,0,0,2,0,0,0,0,0,0,1,1,1,0,1,0,Bi-Weekly,0,0,0,0,Aries,1,0,1.0,0.03,0

In [5]:
descriptions

                                                    Description of each Columns
userid                                                           MongoDB userid
churn                          Active = No | Suspended < 30 = No Else Churn ...
age                                                         age of the customer
city                                                       city of the customer
state                                            state where the customer lives
postal_code                                            zip code of the customer
zodiac_sign                                         zodiac sign of the customer
rent_or_own                            Does the customer rents or owns a house
more_than_one_mobile_device    does the customer use more than one mobile de...
payFreq                                           Pay Frequency of the cusomter
in_collections                                   is the customer in collections
loan_pending                                                is the loan pending
withdrawn_application          has the customer withdrawn the loan applicaiton
paid_off_loan                                 has the customer paid of the loan
did_not_accept_funding                          customer did not accept funding
cash_back_engagement           Sum of cash back dollars received by a custom...
cash_back_amount                Sum of cash back dollars received by a customer
used_ios                                            Has the user used an iphone
used_android                            Has the user used a android based phone
has_used_mobile_and_web              Has the user used mobile and web platforms
has_used_web                                Has the user used MoneyLion Web app
has_used_mobile                                 as the user used MoneyLion  app
has_reffered                                              Has the user referred
cards_clicked                       How many times a user has clicked the cards
cards_not_helpful                                     How helpful was the cards
cards_helpful                                         How helpful was the cards
cards_viewed                             How many times a user viewed the cards
cards_share                              How many times a user shared his cards
trivia_view_results                 How many times a user viewed trivia results
trivia_view_unlocked           How many times a user viewed trivia view unlo...
trivia_view_locked             How many times a user viewed trivia view lock...
trivia_shared_results              How many times a user shared trivia results
trivia_played                              How many times a user played trivia
re_linked_account                                Has the user re linked account
un_linked_account                                Has the user un linked account
credit_score                                            Customer's credit score

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27000 entries, 0 to 26999
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user                     27000 non-null  int64
 1   churn                    27000 non-null  int64
 2   age                      26996 non-null  float64
 3   housing                  27000 non-null  object
 4   credit_score             18969 non-null  float64
 5   deposits                 27000 non-null  int64
 6   withdrawal               27000 non-null  int64
 7   purchases_partners       27000 non-null  int64
 8   purchases                27000 non-null  int64
 9   cc_taken                 27000 non-null  int64
 10  cc_recommended           27000 non-null  int64
 11  cc_disliked              27000 non-null  int64
 12  cc_liked                 27000 non-null  int64
 13  cc_application_begin     27000 non-null  int64
 14  app_downloaded           27000 non-null  int64
 15  web_user                 27000 non-null  int64
 16  app_web_user             27000 non-null  int64
 17  ios_user                 27000 non-null  int64
 18  android_user             27000 non-null  int64
 19  registered_phones        27000 non-null  int64
 20  payment_type             27000 non-null  object
 21  waiting_4_loan           27000 non-null  int64
 22  cancelled_loan           27000 non-null  int64
 23  received_loan            27000 non-null  int64
 24  rejected_loan            27000 non-null  int64
 25  zodiac_sign              27000 non-null  object
 26  left_for_two_month_plus  27000 non-null  int64
 27  left_for_one_month       27000 non-null  int64
 28  rewards_earned           23773 non-null  float64
 29  reward_rate              27000 non-null  float64
 30  is_referred              27000 non-null  int64
dtypes: float64(4), int64(24), object(3)
memory usage: 6.4+ MB

## Exploratory Data Analysis

In [7]:
# Check for missing values
data.isna().sum() + data.isnull().sum()

user                           0
churn                          0
age                            8
housing                        0
credit_score               16062
deposits                       0
withdrawal                     0
purchases_partners             0
purchases                      0
cc_taken                       0
cc_recommended                 0
cc_disliked                    0
cc_liked                       0
cc_application_begin           0
app_downloaded                 0
web_user                       0
app_web_user                   0
ios_user                       0
android_user                   0
registered_phones              0
payment_type                   0
waiting_4_loan                 0
cancelled_loan                 0
received_loan                  0
rejected_loan                  0
zodiac_sign                    0
left_for_two_month_plus        0
left_for_one_month             0
rewards_earned              6454
reward_rate                    0
is_referred                    0
dtype: int64

In [8]:
# Remove records where age is missing
df = data[pd.notnull(data['age'])]

# Remove columns where large percentage of records is missing
df = df.drop(columns=['credit_score','rewards_earned'], axis=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26996 entries, 0 to 26999
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user                     26996 non-null  int64
 1   churn                    26996 non-null  int64
 2   age                      26996 non-null  float64
 3   housing                  26996 non-null  object
 4   deposits                 26996 non-null  int64
 5   withdrawal               26996 non-null  int64
 6   purchases_partners       26996 non-null  int64
 7   purchases                26996 non-null  int64
 8   cc_taken                 26996 non-null  int64
 9   cc_recommended           26996 non-null  int64
 10  cc_disliked              26996 non-null  int64
 11  cc_liked                 26996 non-null  int64
 12  cc_application_begin     26996 non-null  int64
 13  app_downloaded           26996 non-null  int64
 14  web_user                 26996 non-null  int64
 15  app_web_user             26996 non-null  int64
 16  ios_user                 26996 non-null  int64
 17  android_user             26996 non-null  int64
 18  registered_phones        26996 non-null  int64
 19  payment_type             26996 non-null  object
 20  waiting_4_loan           26996 non-null  int64
 21  cancelled_loan           26996 non-null  int64
 22  received_loan            26996 non-null  int64
 23  rejected_loan            26996 non-null  int64
 24  zodiac_sign              26996 non-null  object
 25  left_for_two_month_plus  26996 non-null  int64
 26  left_for_one_month       26996 non-null  int64
 27  reward_rate              26996 non-null  float64
 28  is_referred              26996 non-null  int64
dtypes: float64(2), int64(24), object(3)
memory usage: 6.2+ MB

In [10]:
# Drop userID and the label column
df = df.drop(columns=['user','churn'], axis=1)